:root {
  /* either --dark-mode or --no-dark-mode */
  --color-scheme: var(--dark-mode);

  --font-family: system-ui;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-300: hsl(219, 76%, 55%);
  --clr-primary-400: hsl(219, 76%, 40%);
  --clr-primary-500: hsl(219, 76%, 25%);
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 2.5rem;
  border-radius: 0.5rem;
  background: hsl(0 0% 50% / 0.1);
  display: flex;
  width:70%;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 30px 70px;
  transition: 0.3s;
  font-family: var(--font-family);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.mainTitle {
  font-size: var(--fs-800);
  line-height: 1.05;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin-left: 11.5%;
  margin-right: 11.5%;
  margin-bottom: 11.5%;
  border-top: none;
  animation: fadeEffect 1s;
}


img {
  display: block;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  width: 100%;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
}

.wrapper {
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.tabsTitle {
  font-size: var(--fs-500);
  line-height: 1.1;
  margin-left: 12%;
}

.tabsTitle {
    justify-content: center;
}

.introSubtitle {
    text-align: center;
}

.tabsSubtitle {
    margin-left: 12%;
    margin-right: 12%;
}


